{% extends 'base.html' %}
{% block body %}
ng-app="todoApp"
{% endblock %}
{% block header %}
Task Tracker
{% endblock %}

{% block content %}
<div ui-view></div>

<script type="text/ng-template" id="taskList">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3>Upcoming Meetings</h3>
                    <form class="form-inline" ng-submit="add_meeting()">
                        <div class="form-group">
                            <label for="meeting">Meeting:</label>
                            <input ng-model="$parent.meeting" id="meeting" name="meeting" type="text">
                        </div>
                        <div class="form-group">
                            <label for="date">Due Date:</label>
                            <input class="datepicker" ng-model="$parent.date" name="date" type="datetime-local">
                        </div>
                        <input type="submit" value="Add Meeting" class="btn btn-info" />
                    </form>                    
                </div>
                <div class="panel-body">
                    <table class="table table-hover">
                        <tr ng-repeat="meeting in meetings">
                            <td>
                                <div class="pull-left span8">[[meeting.meeting]]</div>
                                <div class="pull-right span4">[[meeting.date]]</div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            </div>
            <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading"> 
                    <h3>Tasks</h3>
                    <form class="form-inline" ng-submit="add_task()">
                        <div class="form-group">
                            <label for="task">Task:</label>
                            <input ng-model="$parent.task" id="task" name="task" type="text">
                        </div>
                        <div class="form-group">
                            <label for="due_date">Due Date:</label>
                            <input class="datepicker" ng-model="$parent.due_date" name="due_date" type="datetime-local">
                        </div>
                        <input type="submit" value="Add Task" class="btn btn-info" />
                    </form>
                </div>
                <div class="panel-body">
                    <table class="table table-hover">
                        <tr ng-show="task.completed" ng-repeat="task in tasks">
                            <td class="[[task.overdue]]"><div class="pull-left">[[task.task]] | Due: [[task.due_date]]</div> <div class="pull-right"><button ng-click="task.complete(); remove(task)">Complete</button></div></td>
                        </tr>
                    </table>
                </div>
            </div>
            </div>
        </div>
    </div>
</script>

<script type="text/ng-template" id="meetingList">
</script>
{% endblock %}

{% block javascript %}
<script src="{{ STATIC_URL }}js/angular.js"></script>
<script src="{{ STATIC_URL }}js/angular-ui-router.min.js"></script>
<script src="{{ STATIC_URL}}js/todoapp.js"></script>
<script src="{{ STATIC_URL}}js/todocontrollers.js"></script>
<script src="{{ STATIC_URL}}js/todoservices.js"></script>
<script>
    $(function() {
        $( ".datepicker" ).datetimepicker({
            changeMonth: true,
            changeYear: true,
            yearRange: "1900:2012",
        });
    });
</script>
{% endblock %}
